{{template "base" .}}
{{define "content"}}
<table role="presentation" class="main">
    <!-- START MAIN CONTENT AREA -->
    <tr>
        <td class="wrapper">
            <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <div class="header">
                            <h1>Password Recovery</h1>
                        </div>
                        <div class="content">
                            <p>Hello {{ .FirstName }},</p>
                            <p>We have received a request to reset the password for your account. Please use the verification code below to proceed with resetting your password:</p>
                            <p class="verification-code">{{ .Code }}</p>
                            <p>If you did not make this request, please ignore this email or contact us immediately.</p>
                            <p>Thank you,</p>
                            <p>The Kuro Team</p>
                        </div>
                        <div class="footer">
                            <p>&copy; 2024 Kuro Corporation. All rights reserved.</p>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!-- END MAIN CONTENT AREA -->
</table>
{{end}}